.window{
  display: flex;
  flex-direction: row;
}
.result{
  height:395px;
  width: 40%;
  border: 1px solid black;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.container{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: 40%;
  margin: 10px 20px 0px 70px;
  height:380px;
  border-radius: 10px;
}
p{
  font-family: sans-serif;
  font-weight:bold;
}
.btn{
  height: 100px;
  width: 100px;
  margin: 5px;
  border:none;
  border-radius: 50px;
  background-color: rgb(80, 216, 80);
  cursor: pointer;
}
button:hover{
  background-color: red;
  transform: rotate(0.5turn);
}
.image-icon{
  height: 100px;
  border-radius: 50px;
  background-color: rgb(80, 216, 80);
}
#reset{
  border:1px solid red;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}

@media screen and (max-width:600px){
  .window{
    display: block;
    border:1px solid black;
    border-radius: 10px;
    background-color: cyan;
  }
  .btn{
    padding:1px;
    border-radius: 50px;
    height: auto;
    width: auto;
    background-color:tomato;
    cursor: pointer;
  }
  .container{
    text-align: center;
    width: auto;
    height:auto;
    margin: 0px;
    font-size: 10px;
    border: none; 
  }
  .image-icon{
    height: 70px;
    border-radius: 60px;
    background-color: rgb(80, 216, 80);
  }
  .result{
    font-size: 12px;
    width: auto;
    height: auto;
    border: none;
    margin:3px;
    color: rgb(158, 8, 41);
  }
  #reset{
    width: 50px;
    height: 20px;
    color: orangered;
  }
  button:hover{
    background-color: cyan;
  }
  p{
    color: black;
    font-size: 15px;
  }
}
